<h1>Students</h1>
<p>
  <a href="<%= newStudentsPath() %>" class="btn btn-primary">Create New Student</a>
</p>

<table class="table table-striped">
  <thead>
  <th>School</th>
    <th>Department</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (student) in students { %>
      <tr>
      <td><%= student.School %></td>
        <td><%= student.Department %></td>
        <td>
          <div class="pull-right">
            <a href="<%= studentPath({ student_id: student.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editStudentPath({ student_id: student.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= studentPath({ student_id: student.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
