<!-- Login Modal -->
<div class="bg-light-gray modal vh-75 fixed top-2 w-100">
    <!-- Login Modal Content -->
    <%= form_for(admin, {action: signinPath(), class: "animate bg-light-grey"}) { %>
        <div class="tc ph2 ph4-ns">
            <%= f.InputTag("username", {class: "w-50 br2 b--black-10 pv2 mv2"}) %><br>

            <%= f.InputTag("Password", {class: "w-50 br2 b--black-10 pv2 mv2", type: "password"}) %><br>

            <button type="submit" class="pointer grow bg-green white bn br2 pa2 mh2">Login</button>
            <!--<%= f.Check %> Remember me-->
        </div>
        <div class="tc pt pt4-ns">
            <span class="br2 b--black-10 pv2 mh2">Forgot <a href="#">password?</a></span>
        </div>
    <% } %>
</div>
<!-- The form can be written in its simplest form like this -->
<div class="bg-light-gray modal vh-75 fixed top-2 w-100">
    <form action="/signin" method="POST">
          <input name="username" type="text" placeholder="username" class="ba b--gray pa2 bw1 br1"/>
        <input name="password" type="password" placeholder="username" class="ba b--gray pa2 bw1 br1"/>
        <input type="submit" name="login" value="Login"/>
    </form>
    
</div>
<!-- This form will submit to `/signin` route where AdminHandler() will handle the request... -->
