
<main class="w-100">
  <header class="w-100 bg-light-grey pv2 ph2 ph5-ns">
    <div class="w-50 dib">
      <a href="/" class="f6 fw3 fw6-ns hover-blue link pointer black-80 dib">CB UNI</a>
    </div><div class="w-50 dib tr">
    <a href="/" class="f6 fw3 fw6-ns hover-blue link pointer black-80 mr3-m mr4-l dib">Home</a>
    <a href="/" class="f6 fw3 fw6-ns hover-blue link pointer black-80 mr3-m mr4-l dib">About</a>
    <a href="/login" class="f6 fw3 fw6-ns hover-blue link pointer black-80 mr3-m mr4-l dib login">Login</a>
  </div>
  </header>
  <section class="w-100 vh-75 tc cover" style="background: url(/assets/images/classroom.jpg);">
    <div class="dib mt6 pt4">
      <span class="db white f1 Helvetica Neue fw6">CB University</span>
      <span class="white fw6">Best in Nigeria</span>
      <hr>
    </div>
  </section>
  <footer class="w-100 tc bg-light-grey mt5-ns mb2-ns">
      <span><small>© 2017</small> <a>cb_net</a></span>
    </div>
  </footer>
</main>